<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/context   
          http://www.springframework.org/schema/context/spring-context-4.3.xsd   
          http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/tx 
	      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	      http://www.springframework.org/schema/aop 
	      http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	      http://www.springframework.org/schema/data/mongo   
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd  
          ">

	<!-- 开启注解处理器 -->
	<context:annotation-config />
	<!-- 开启组件自动扫描，扫描路径由base-package属性指定 -->
	<context:component-scan base-package="com.stu">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- 开启Aspect -->
	<aop:aspectj-autoproxy />
	<context:property-placeholder
		ignore-unresolvable="true" location="classpath:datasource.properties" />
	<!-- <bean id="firstRun" class="com.stu.manage.handle.DbDepot" scope="singleton" 
		init-method="init"></bean> -->

	<bean id="mysqlConnection"
		class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close">
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.user}" />
		<property name="password" value="${mysql.password}" />
		<property name="filters" value="${mysql.filters}" />
		<property name="maxActive" value="5" />
		<property name="minIdle" value="2" />
		<property name="initialSize" value="2" />

		<property name="maxWait" value="30000" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="select 'x' from dual" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="poolPreparedStatements" value="false" />
		<property name="maxOpenPreparedStatements" value="0" />
	</bean>

	<!-- 配置Mybatis的文件 ，mapperLocations配置**Mapper.xml文件位置，configLocation配置mybatis-config文件位置 -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations"
			value="classpath*:com/sjz/mapper/**/*.xml" />
		<property name="configLocation"
			value="classpath:mybatis-config.xml" />
		<!-- <property name="typeAliasesPackage" value="com.tiantian.ckeditor.model" 
			/> -->
	</bean>
	<!-- 默认配置文件 -->
	<!-- <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" 
		/> -->
	<!-- 默认Mongodb类型映射 -->
	<!-- <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper"> 
		<constructor-arg name="typeKey"> <null /> </constructor-arg> </bean> <mongo:mongo-client 
		id="MongoCl" host="${mongo.serverMongoIp}" port="${mongo.serverMongoPort}" 
		credentials="${mongo.username}:${mongo.password}@${mongo.spyPlatData.dbName}"> 
		<mongo:client-options write-concern="SAFE" /> </mongo:mongo-client> <mongo:db-factory 
		id="mongoFactory" dbname="${mongo.spyPlatData.dbName1}" mongo-ref="MongoCl" 
		/> <mongo:template id="mongoTemplate" db-factory-ref="mongoFactory" /> -->
</beans>